.navbar.navbar-expand-lg.navbar-dark{
    background-color: #1C1C1C;
    border-bottom-left-radius: 40px;
}

h1,h2{
    color: #3C3C3C;
    margin: 50px 0;
    font-size: 35px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

h2{
    font-size: 25px;
}

ul li{
    margin: 0 5px;
}

i{
    margin-right: 5px;
}

.fa-heart{
    color: #FF002D;
}

.fa-search{
    color: #0049BA;
}

.card{
    margin: 20px 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-image-top{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

audio{
    width: 15rem;
}

#fav{
    width: 100%;
    text-align: left;
    color: white;
}

#fav i{
    color: white;
}




